$media-width-1-300: "screen and (min-width: 1px) and (max-width: 299px)";
$media-width-1-400: "screen and (min-width: 1px) and (max-width: 399px)";
$media-width-1-600: "screen and (min-width: 1px) and (max-width: 599px)";
$media-width-1-800: "screen and (min-width: 1px) and (max-width: 799px)";
$media-width-1-1000: "screen and (min-width: 1px) and (max-width: 999px)";
$media-width-1-1200: "screen and (min-width: 1px) and (max-width: 1199px)";
$media-width-300-400: "screen and (min-width: 300px) and (max-width: 399px)";
$media-width-300-800: "screen and (min-width: 300px) and (max-width: 799px)";
$media-width-400-600: "screen and (min-width: 400px) and (max-width: 599px)";
$media-width-800-1000: "screen and (min-width: 800px) and (max-width: 999px)";
$media-width-1000-1200: "screen and (min-width: 1000px) and (max-width: 1199px)";