$nav-button-width: 10%;
$nav-button-height: 50px;
$nav-button-line-height: 50px;
$nav-button-background-color: rgba(209, 207, 216, 0.5);
$nav-button-hover-color: #E6E6E6; //rgba(230, 230, 230, 1)
$nav-button-text-font-group: 'Roboto', Sans-Serif;
$nav-button-text-font-size: 16px;
$nav-button-text-letter-spacing: 1.5px;
$nav-button-text-color: #191E1F; //rgba(25, 30, 31, 1)

$main-text-box-width: 48%;
$main-text-box-background-color: rgba(209, 207, 216, 0.5);
$main-text-box-left-margin: 0 5px 0 0;
$main-text-box-right-margin: 0 0 0 5px;

$sub-heading-font-group: 'Oswald', Sans-Serif;
$sub-heading-font-size: 40px;
$sub-heading-letter-spacing: 2.5px;
$sub-heading-color: #191E1F; //rgba(25, 30, 31, 1)
$sub-heading-padding: 5px 25px 15px 25px;
$sub-heading-margin: 0px;

$main-text-font-group: 'Roboto', Sans-Serif;
$main-text-font-size: 16px;
$main-text-line-height: 140%;
$main-text-color: #2F3B3C; //rgba(47, 59, 60, 1)
$main-text-padding: 0 25px 25px 25px;
$main-text-margin: 0px;