$body-background-color: #ECEBEF; //rgba(236, 235, 239, 1)

$header-width: 100%;
$header-height: 150px;
$header-background-color: #8EDCFA; //rgba(142, 220, 250, 1)
$header-margin: 0 auto 25px auto;
$header-box-shadow: 0 2px 2px 0;

$nav-width: 50%;
$nav-height: 150px;
$nav-float: right;

$main-width: 60%;