$header-middle-container-width: 60%;
$header-middle-container-height: 150px;
$header-middle-container-margin: 0 auto;

$main-heading-block-width: 50%;
$main-heading-block-height: 150px;

$main-heading-font-group: 'Montserrat', sans-serif;
$main-heading-font-size: 56px;
$main-heading-letter-spacing: 3px;
$main-heading-padding: 0;
$main-heading-margin: 0;

$nav-block-width: 100%;
$nav-block-height: 50px;
$nav-block-margin: 50px 0 0 0;
$nav-block-padding: 0;

$main-logo-container-width: 20%;
$main-logo-container-height: 250px;

$main-text-box-container-width: 100%;
$main-text-box-container-margin: 0 0 75px 0;

$menu-icon-font-size: 36px;
$menu-icon-line-height: 50px;

$mobile-menu-wrap-background-color: rgba(229, 229, 240, 0.9);
$mobile-menu-wrap-width: 200px;
$mobile-menu-wrap-height: 100%;
$mobile-menu-wrap-margin-right: -200px;

$mobile-menu-width: 100%;
$mobile-menu-margin: 0;
$mobile-menu-padding: 0;

$mobile-menu-li-height: 45px;
$mobile-menu-li-margin: 0;
$mobile-menu-li-hover-color: rgba(255, 255, 255, 0.5);

$mobile-menu-li-a-line-height: 45px;

$back-button-block-width: 100%;
$back-button-block-height: 150px;
$back-button-block-padding: 0;
$back-button-block-background-color: red;

$back-button-font-size: 36px;
$back-button-line-height: 150px;